ul{
    list-style-type: none;
    float: none;
    max-width: 960px;
    padding: 40px;
    margin: 40px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    background-image: url("greyfloral_@2X.png");
    margin: 0 auto;
    }   


.body{
    max-width: 960px;
    background-image: url("greyfloral_@2X.png");
   }

.div a{
    color: #ccc;
    display: block;
    padding: 14px 16px;
 }

.header {
 background: #fff;
    
}

.container{
    width: 960px;
    margin: 0 auto;
    size: center;
    background-color: #fff;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
   background-color: #ccc; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
 background-color: #4aaaa5;
}

